---
import Container from "./Container.astro";

---

<footer class="py-20 md:py-40">
    <Container>
      <div class="m-auto md:w-10/12 lg:w-8/12 xl:w-6/12">
        <div class="flex flex-wrap items-center justify-center">
          <div class="w-full space-y-6 text-center">
            <span class="block text-gray-500 dark:text-gray-400">We shape better experiences</span>
            <span class="block text-gray-500 dark:text-gray-400">&copy; <span id="year">2024</span> VibeTools. All rights reserved.</span>
            <span class="flex justify-center gap-2">
              <a href="#" class="text-primary hover:text-primary">Terms of Use </a>
              <a href="#" class="text-primary hover:text-primary">Privacy Policy</a>
            </span>
          </div>
        </div>
      </div>
    </Container>
</footer>