---
import Container from "./Container.astro"

---

<div id="blog">
  <Container>
      <div class="mb-12 space-y-2 text-center">
        <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">Latest Experiments</h2>
        <p class="lg:mx-auto lg:w-6/12 text-gray-600 dark:text-gray-300">
          If it sucks, you'll have to blame our AI overlords. We didn't write a single line of code. Prompt & Pray only. Guaranteed.
        </p>
      </div>
      <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="./images/blog/image1.jpg"
            alt="blog image 1" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              NARRR.dergigi.com
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              <u>Nar</u>cissistic <u>R</u>elay-<u>R</u>elated Search, centered around you. You have to log-in with your npub. There is no global.
            </p>
            <a class="inline-block" href="http://narrr.dergigi.com/">
              <span class="text-info dark:text-blue-300">Try it out!</span>
            </a>
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="./images/blog/image2.jpg"
            alt="blog image 2" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              GraphHopper
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              Voluptates harum aliquam totam, doloribus eum impedit atque! Temporibus...
            </p>
            <a class="inline-block" href="#">
              <span class="text-info dark:text-blue-300">Read more</span>
            </a>
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="./images/blog/questr.png"
            alt="blog image 3" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              Questr
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              Go on a quest with other npubs! The quest is currently up/down/left/right, but hey, 
              <a href="https://episodes.fm/aHR0cHM6Ly9zb3ZlcmVpZ25lbmdpbmVlcmluZy5pby9kaWFsb2d1ZXMueG1s/episode/Y2VjZDk1MjAtMmZjOC00ZDQ1LTkxNjEtMzRkNThlNTYzZTBm">Start Ugly</a>. right?
            </p>
            <a class="inline-block" href="http://questr.vercel.app/">
              <span class="text-info dark:text-blue-300">Try it out!</span>
            </a>
          </div>
          
        </div>
      </div>
  </Container>
</div>