---
import Container from "./Container.astro"
---

<div class="text-gray-600 dark:text-gray-300" id="reviews">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        We have some fans.
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <a href="https://narrr-search.vercel.app/?q=vibe+npub1dergggklka99wwrs92yz8wdjs952h2ux2ha2ed598ngwu9w7a6fsh9xzpc" class="block cursor-pointer hover:scale-105 transition-transform duration-300">
        <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
          <div class="flex gap-4">
            <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar.webp" alt="user avatar" width="400" height="400" loading="lazy">
            <div>
              <h6 class="text-lg font-medium text-gray-700 dark:text-white">Gigi</h6>
              <p class="text-sm text-gray-500 dark:text-gray-300">Copy viber</p>
              <p class="text-xs text-gray-400 dark:text-gray-500 truncate w-32" title="npub1dergggklka99wwrs92yz8wdjs952h2ux2ha2ed598ngwu9w7a6fsh9xzpc">npub1dergg...</p>
            </div>
          </div>
          <p class="mt-8">Pro tip: if your vibe agent refuses to create graphics for you, ask it to generate the graphics as svg files and offer to convert svg to png via cli. It will oblige and the only thing you'll have to do is spam "Accept all"</p>
        </div>
      </a>
      <a href="https://narrr-search.vercel.app/?q=vibe+npub12rv5lskctqxxs2c8rf2zlzc7xx3qpvzs3w4etgemauy9thegr43sf485vg" class="block cursor-pointer hover:scale-105 transition-transform duration-300">
        <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
          <div class="flex gap-4">
            <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-1.webp" alt="user avatar" width="200" height="200" loading="lazy">
            <div>
              <h6 class="text-lg font-medium text-gray-700 dark:text-white">Calle</h6>
              <p class="text-sm text-gray-500 dark:text-gray-300">Nutter in Chief</p>
              <p class="text-xs text-gray-400 dark:text-gray-500 truncate w-32" title="npub12rv5lskctqxxs2c8rf2zlzc7xx3qpvzs3w4etgemauy9thegr43sf485vg">npub12rv5l...</p>
            </div>
          </div>
          <p class="mt-8">Frontend vibe coding is one of the most satisfying things in programming.</p>
        </div>
      </a>
      <a href="https://narrr-search.vercel.app/?q=vibe+npub1gcxzte5zlkncx26j68ez60fzkvtkm9e0vrwdcvsjakxf9mu9qewqlfnj5z" class="block cursor-pointer hover:scale-105 transition-transform duration-300">
        <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
          <div class="flex gap-4">
            <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-2.webp" alt="user avatar" width="200" height="200" loading="lazy">
            <div>
              <h6 class="text-lg font-medium text-gray-700 dark:text-white">Vitor Pamplona</h6>
              <p class="text-sm text-gray-500 dark:text-gray-300">Kitchensink Maintainer</p>
              <p class="text-xs text-gray-400 dark:text-gray-500 truncate w-32" title="npub1gcxzte5zlkncx26j68ez60fzkvtkm9e0vrwdcvsjakxf9mu9qewqlfnj5z">npub1gcxzt...</p>
            </div>
          </div>
          <p class="mt-8">I support vibe coding.</p>
        </div>
      </a>
      <a href="https://narrr-search.vercel.app/?q=vibe+npub1zxu639qym0esxnn7rzrt48wycmfhdu3e5yvzwx7ja3t84zyc2r8qz8cx2y" class="block cursor-pointer hover:scale-105 transition-transform duration-300">
        <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
          <div class="flex gap-4">
            <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-3.webp" alt="user avatar" width="200" height="200" loading="lazy">
            <div>
              <h6 class="text-lg font-medium text-gray-700 dark:text-white">Justin Moon</h6>
              <p class="text-sm text-gray-500 dark:text-gray-300">Zig Enthusiast</p>
              <p class="text-xs text-gray-400 dark:text-gray-500 truncate w-32" title="npub1zxu639qym0esxnn7rzrt48wycmfhdu3e5yvzwx7ja3t84zyc2r8qz8cx2y">npub1zxu63...</p>
            </div>
          </div>
          <p class="mt-8">You write your UI in platform-native options like SwiftUI or Jetpack Compose. You could also write it in React Native or Flutter. But honestly I don't think they are worth it. When the UI is a pure function you can vibe-code it.</p>
        </div>
      </a>
      <a href="https://narrr-search.vercel.app/?q=vibe+npub1xtscya34g58tk0z605fvr788k263gsu6cy9x0mhnm87echrgufzsevkk5s" class="block cursor-pointer hover:scale-105 transition-transform duration-300">
        <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
          <div class="flex gap-4">
            <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-4.webp" alt="user avatar" width="200" height="200" loading="lazy">
            <div>
              <h6 class="text-lg font-medium text-gray-700 dark:text-white">Will Casarin</h6>
              <p class="text-sm text-gray-500 dark:text-gray-300">Vibedeck</p>
              <p class="text-xs text-gray-400 dark:text-gray-500 truncate w-32" title="npub1xtscya34g58tk0z605fvr788k263gsu6cy9x0mhnm87echrgufzsevkk5s">npub1xtscy...</p>
            </div>
          </div>
          <p class="mt-8">For many tasks vibe coding is so much slower and more expensive. Its like instructing and intern to do something and they keep getting it slightly wrong so you have to constantly tweak it.
          For random scripts and one off demos it's great though.</p>
        </div>
      </a>
      <a href="https://narrr-search.vercel.app/?q=vibe+npub1p4kg8zxukpym3h20erfa3samj00rm2gt4q5wfuyu3tg0x3jg3gesvncxf8" class="block cursor-pointer hover:scale-105 transition-transform duration-300">
        <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
          <div class="flex gap-4">
            <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-5.webp" alt="user avatar" width="400" height="400" loading="lazy">
            <div>
              <h6 class="text-lg font-medium text-gray-700 dark:text-white">Future Paul</h6>
              <p class="text-sm text-gray-500 dark:text-gray-300">Vibe Evangelist</p>
              <p class="text-xs text-gray-400 dark:text-gray-500 truncate w-32" title="npub1p4kg8zxukpym3h20erfa3samj00rm2gt4q5wfuyu3tg0x3jg3gesvncxf8">npub1p4kg8...</p>
            </div>
          </div>
          <p class="mt-8">Waiting for Cursor to run my prompt gives me a lot more time for prayer.</p>
        </div>
      </a>
    </div>
  </Container>
</div>